*{
    
    padding: 0%;
    box-sizing: border-box;
}
.page-wrapper{
    width: 100%;
    border: 2px solid black;
    
}
.header-wrapper{
    width: 100%;
    background-color: cadetblue;
    /* padding: 1%; */
}
.top-header{
    width: 70%;
    padding-bottom:5%;
    background-color: blue;
    margin: auto;
}
.top-header-left{
    width: 65%;
    float: left;
    padding: 2%;
    background-color:rgb(0,251,133);
    margin: auto;
    margin-top: 1.5%;
    overflow: hidden;
}
.top-header-right{
    width: 35%;
    background-color:rgb(47,133,178);
    padding: 2%;
    margin: auto;
    margin-top: 1.5%;
    float: right;
    overflow: hidden;
}
.bottom-wrapper{
    background-color:rgb(244,244,244);
}
.top-bottom{
    width: 70%;
    padding-bottom:4%;
    background-color:rgb(248,219,181);
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
.body-wrapper{
    width: 100%;
    
}
.body-container{
    width: 70%;
    margin: auto;
    padding-bottom: 28%;
    background-color: rgb(0,223,207);
}
.footer-wrapper{
    width: 100%;
}
.footer-container{
    width: 70%;
    margin: auto;
    padding-bottom: 5%;
    background-color: rgb(47,133,178);
}